.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

form{
  background-color: #f8f9fa;
  margin: 0 auto;
  text-align: center;
  /* border-radius */
  border-radius: 20px;
  /* box-shadow */
  box-shadow: rgba(210, 192, 61, 0.76) 0 0 10px;
  border-collapse: collapse;
}
