<div class="form-container p-5">

  <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="p-5">
    <h2>Podaci o naručitelju</h2>

    <div class="form-group">
      <label for="name">Ime</label>
      <input type="text" [(ngModel)]="user.name" class="form-control" placeholder="Unesite vaše ime" id="name" name="name" required >
    </div>

    <div class="form-group">
      <label for="surname">Prezime</label>
      <input type="text" [(ngModel)]="user.surname" class="form-control" placeholder="Unesite vaše prezime" id="surname" name="surname" required>
    </div>

    <div class="form-group">
      <label for="phone">Broj mobitela</label>
      <input type="text" [(ngModel)]="user.phone" pattern="\d{7,}" placeholder="Unesite samo znamenke" class="form-control" id="phone" name="phone" required>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" [(ngModel)]="user.email" class="form-control" id="email" pattern=".+@.+\..{2,4}" placeholder="Unesite ispravan e-mail" name="email" required>
    </div>

    <div class="form-group">
      <label for="address">Adresa</label>
      <input type="text" class="form-control" [(ngModel)]="user.address" id="address" name="address" placeholder="Unesite adresu dostave" required>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>

  </form>
</div>
